
body{
	
	font-family: 'DM Mono', monospace;
	
}
ul > a{
	padding: 10px;
	color: #ffffff;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
	padding-left: 20px;
	padding-right: 20px;
	

}
ul > a:hover{
text-decoration: none;
background-color: #ffffff;
color: #000033;
}
nav{
	background-color: #000033;
	color: #ffffff;
}
ul{
text-align: center;
padding-top: 20px;
padding-right: 80px;
}
nav > a {
	padding-left: 10px;
}
